
SwapProgram/.vs/SwapProgram/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
SwapProgram/SwapProgram/obj/Debug/netcoreapp3.0/SwapProgram.csproj.FileListAbsolute.txt
*.props
*.targets
SwapProgram/SwapProgram/obj/Debug/netcoreapp3.0/SwapProgram.AssemblyInfo.cs
SwapProgram/.vs/SwapProgram/DesignTimeBuild/.dtbcache
OverloadedTriples/OverloadedTriples/obj/Debug/netcoreapp3.0/OverloadedTriples.AssemblyInfo.cs
OverloadedTriples/.vs/OverloadedTriples/v16/.suo
OverloadedTriples/.vs/OverloadedTriples/DesignTimeBuild/.dtbcache
Reverse4/.vs/Reverse4/v16/.suo
Reverse4/Reverse4/obj/Debug/netcoreapp3.0/Reverse4.AssemblyInfo.cs
Reverse4/Reverse4/obj/Debug/netcoreapp3.0/Reverse4.csproj.FileListAbsolute.txt
