
SwapProgram/.vs/SwapProgram/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
SwapProgram/SwapProgram/obj/Debug/netcoreapp3.0/SwapProgram.csproj.FileListAbsolute.txt
*.props
*.targets
SwapProgram/SwapProgram/obj/Debug/netcoreapp3.0/SwapProgram.AssemblyInfo.cs
SwapProgram/.vs/SwapProgram/DesignTimeBuild/.dtbcache
OverloadedTriples/OverloadedTriples/obj/Debug/netcoreapp3.0/OverloadedTriples.AssemblyInfo.cs
OverloadedTriples/.vs/OverloadedTriples/v16/.suo
OverloadedTriples/.vs/OverloadedTriples/DesignTimeBuild/.dtbcache
Reverse4/.vs/Reverse4/v16/.suo
Reverse4/Reverse4/obj/Debug/netcoreapp3.0/Reverse4.AssemblyInfo.cs
Reverse4/Reverse4/obj/Debug/netcoreapp3.0/Reverse4.csproj.FileListAbsolute.txt
Reverse4/.vs/Reverse4/DesignTimeBuild/.dtbcache
IntegerFacts/.vs/IntegerFacts/v16/.suo
IntegerFacts/IntegerFacts/obj/Debug/netcoreapp3.0/IntegerFacts.AssemblyInfo.cs
IntegerFacts/IntegerFacts/obj/Debug/netcoreapp3.0/IntegerFacts.csproj.FileListAbsolute.txt
IntegerFacts/.vs/IntegerFacts/DesignTimeBuild/.dtbcache
BonusCalculation/.vs/BonusCalculation/v16/.suo
BonusCalculation/BonusCalculation/obj/Debug/netcoreapp3.0/BonusCalculation.AssemblyInfo.cs
BonusCalculation/BonusCalculation/obj/Debug/netcoreapp3.0/BonusCalculation.csproj.FileListAbsolute.txt
Movie/Movie/obj/Debug/netcoreapp3.0/Movie.AssemblyInfo.cs
BonusCalculation/.vs/BonusCalculation/DesignTimeBuild/.dtbcache
Movie/.vs/Movie/v16/.suo
Movie/Movie/obj/Debug/netcoreapp3.0/Movie.csproj.FileListAbsolute.txt
